@import './animates.css';
@import './mixin.scss';
$aniList: (slideInUp:slideOutDown, slideInRight:slideOutLeft, slideInLeft:slideOutRight, bounceInLeft:bounceOutRight);
//生成动画
@each $name,
$value in $aniList {
  .#{$name}-enter-active {
    @include ani-block($name);
  }
  .#{$name}-leave-active {
    @include ani-block($value);
  }
}

.pageInRight-enter-active {
  @include ani-block(slideInRight);
}

.pageInRight-leave-active {
  @include ani-block(slideOutRight);
}

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
 }
 .slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
 }
