@mixin box($size:12px) {
  width: $size;
  height: $size;
}

//生产小的字体
@mixin font-block($bgColor:rgb(240, 115, 115)) {
  @include box;
  background: $bgColor;
  line-height: 12px;
  padding: .01rem;
  border-radius: 2px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: white;
}

//生成动画
@mixin ani-block($name:'slideUp', $aniTime:.5s) {
  animation-name: $name;
  animation-duration: $aniTime;
}
