//基础变量
$primary-color:#52C750; //基础颜色
$primary-color-light:#8EDB8C; //基础颜色高亮
$error-color:#E34545;
$error-color-light:#FF9E9E;
$normal-color:#394043; //正常字体颜色
$normal-color-light:#556074; //正常字体颜色高亮
$normal-color-disabled:#BDBDBD; //正常字体颜色禁用
$memo-color:#BB844F;
$memo-color-light:#BABEC6;
$price-color:#FF7431; //价格字体颜色
$bgcolor: #F9F9F9; //背景颜色
$pageBgColor: #EFF1F3; //页面背景颜色
$input-border-color:#E9ECEE; //input边框颜色
$shadow-color: #F5F5F5; //阴影颜色
$close-color: #727D92; //关闭按钮颜色
$primary-button-color-start:#63C227;
$primary-button-color-end:#17AE5D;
$second-button-color-start:#FF8D2B;
$second-button-color-end:#FF4944;
$primary-bg-color:rgb(245, 245, 245); //基础颜色
// 定义数组
$bgcolorList: ('.shou':rgb(240, 115, 115), '.jian':rgb(112, 188, 70), '.te':rgb(241, 136, 79), '.zeng':rgb(60, 199, 145));